* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 79);
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    position: relative;
}

.title {
    color: white;
    font-weight: 300;
    font-size: min(52px, 10vw);
    text-decoration: underline;
}

.title::first-letter,
.subtitle::first-letter {
    color: orange;
    font-weight: 700;
}

.main {
    width: 90%;
    max-width: 1136px;
    padding: 5px;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

nav ul li::before, nav ul li:last-child::after{
    content: "|";
    padding-right: 5px;
    padding-left: 5px;
    height: 20px;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

nav ul li a{
    color: orange;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}

.day {
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.subtitle {
    font-size: min(30px, 8vw);
    font-weight: 300;
    margin-top: 40px;
}

pre {
    padding: 0;
    display: block;
    white-space: pre-line;
    max-width: 874px;
}

code {
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 500;
    word-wrap: break-word;
}

.result {
    width: 100%;
    height: 100%;
    background-color: orange;
    max-width: 1136px;
    padding: 20px;    
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#result{
    display: none;
}


.result span{
    text-align: left;
    width: 90%;
    max-width: 600px;
    white-space: pre-wrap;
    font-size: max(16px, 1vw);
    color: white;
    font-weight: 600;
}

.wrapper__btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn{
    width: 80%;
    max-width: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn:hover{
    background-color: orange;
}

.btn-sim:hover, .btn-nao:hover{
    background-color: #00004f;
    color: white;
}











/*hljs*/

.hljs {
    background-color: rgb(25, 25, 25);
    margin-left: 0;
    padding-left: 0;
    color: white;
    font-size: 16px;
    margin: 0 auto;
}

.hljs-name {
    color: tomato;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs-comment {
    color: #697070
}

.hljs-punctuation,
.hljs-tag {
    color: #444a
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: #444
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: green;
    font-weight: 700;
}

.hljs-section,
.hljs-title {
    color: #800;
    font-weight: 700
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #ffffff;
    padding-left: 20px;
}

.hljs-literal {
    color: #695
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #397300
}

.hljs-meta {
    color: #1f7199
}

.hljs-meta .hljs-string {
    color: #38a
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}